@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* background: #ffffff; */
}

/* header navber style  */
.three-icon {
  display: none;
}
.header-left-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.influencer-text {
  font-size: 1.8vw;
  padding: 5vw 8vw;
  color: #3a3a3a;
  cursor: pointer;
  transition: 0.7s;
}
.influencer-text:hover {
  color: rgb(68, 0, 255);
}
.navber {
  padding: 5vw 8vw;
}
.navber ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navber ul li {
  list-style: none;
}
.navber ul li a {
  text-decoration: none;
  padding: 1vw 1.5vw;
  color: #3a3a3a;
  font-weight: 500;
  font-size: 1.1vw;
  transition: 0.7s;
}
.navber ul li a:hover {
  color: rgb(68, 0, 255);
}
.search-shop-icon i {
  font-size: 1.4vw;
}
/* banner section  */
.banner {
  /* background-image: url(../images/Circle\ design.svg); */
  width: auto;
  height: 100vh;
  background-color: none;
}
.start-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-left-site {
  padding: 0 120px;
}
.title-start {
  font-size: 3vw;
  font-weight: 600;
  color: #3a3a3a;
}
.title-deatiels {
  font-size: 1.2vw;
  font-weight: 400;
  color: #3a3a3a;
  padding: 1vw 0;
}
.btn {
  padding: 0.5vw 2vw;
  background: #e02c6d;
  border-radius: 41px;
  color: #ffffff;
  border: 1px solid #e02c6d;
  cursor: pointer;
  box-shadow: 0px 0px 10px #4e2635;
  transition: 0.7s;
}
.btn i {
  padding: 0 0.9vw;
}
.btn:hover {
  background-color: #4e2635;
  box-shadow: 0px 0px 10px #251c20;

  border: 1px solid #4e2635;
}
.camera-right-site {
  padding: 0 120px 0 0;
}
.first-camera-img img {
  width: 28vw;
  height: 27vw;
}
.first-camera-img {
  position: absolute;
  z-index: 1;
}
.secend-round-img img {
  width: 30vw;
  height: 30vw;
}
.secend-round-img {
  position: relative;
}
/* end banner section */

/* <!-- ---------------------
      start main company logo section 
    ---------------------- --> */

.logo-items-img {
  display: flex;
  height: 6vw;
  justify-content: center;
  align-items: center;
  margin: 0 165px;

  border-image: linear-gradient(
      98deg,
      rgb(255, 255, 255),
      rgb(204, 204, 209),
      rgb(255, 255, 255)
    )
    1;
  border-width: 1px;
  border-style: solid;
}

.logo-img img {
  height: 2.2vw;
}
.logo-img {
  padding: 1.4vw 2vw;
}

/* <!-- ---------------------
      end main company logo section 
    ---------------------- -->
      <!-- ---------------------
      start main popular collerction logo section 
    ---------------------- --> */
.collection-title {
  text-align: center;
}
.collection-title {
  padding: 4vw 0 0 0;
  font-size: 2vw;
  font-weight: 500;
  color: #3a3a3a;
}

.collections-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 150px;
}

.header-item {
  box-shadow: 1px 1px 30px #aaaaaa;
  margin: 2vw 1vw;
  border-radius: 10px;
}
.collection-img {
  padding: 20px 20px;
}
.collection-img img {
  width: 100%;
  height: 100%;
}
.collection-text-bottom {
  padding: 20px 20px;
}
.tilte {
  color: #18191f;
  font-weight: 500;
  font-size: 1.8vw;
}
.price {
  font-weight: 500;
  font-size: 1.2vw;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px 0;
}
.reating i {
  font-size: 1vw;
  color: rgb(255, 118, 69);
}
.cllection-deatils {
  color: #787885;
  font-weight: 600;
  font-size: 1.2vw;
  padding: 5px 0;
}
.four-nine {
  font-size: 1.1vw;
  font-weight: 600;
  padding: 0 10px;
}

.lasse-show-more {
  width: 100%;
  text-align: right;
  margin-left: -11vw;
}
.show {
  color: rgba(224, 44, 109, 0.87);
  font-size: 1.2vw;
  font-weight: 500;
  cursor: pointer;
}
.show i {
  padding: 0 5px;
}
/* <!-- ---------------------
      end main popular collerction logo section 
    ---------------------- -->
      <!-- ---------------------
      start main Featured products logo section 
    ---------------------- --> */
.featured-products {
  width: 100%;
  margin: 100px 0;
}
.feature-img-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.featre-img img {
  width: 100%;
  height: 100%;
}
.featured-title {
  font-size: 2vw;
  padding: 0 0 10px 0;
}
.featured-deatils {
  font-size: 0.9vw;
  padding: 10px 0 20px 0;
  font-weight: 500;
}
.join-btn {
  border-radius: 2px;
  background-color: #e02c6d;
}
.join-btn:hover {
  color: aqua;
}
footer {
  width: 100%;
  height: 40vh;
  background-color: #050a22;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 30px rgb(37, 21, 68);
}

.influencer {
  color: #ffffff;
  padding: 20px 0;
  font-size: 2.5vw;
  font-weight: 400;
}
.copyright {
  color: #d9dbe1;
  font-weight: 400;
  font-size: 1vw;
}
.influencer-footer-section i {
  color: #d9dbe1;
  padding: 10px 10px;
  font-size: 1.5vw;
  border-radius: 40px 40px;
  border: 1px solid rgba(42, 36, 59, 0.466);
  margin: 20px 10px;
  background-color: rgba(42, 36, 59, 0.466);
  transition: 0.7s;
  cursor: pointer;
}
.influencer-footer-section i:hover {
  color: aqua;
}
/* <!-- ---------------------
      end footer section 
    ---------------------- --> */

/* ----------------------------------------------
 X-Small devices (portrait phones, less than 576px)
------------------------------------------------- */

@media screen and (max-width: 576px) {
  .three-icon {
    display: block;
    font-size: 5vw;
  }
  .navber {
    padding: 20px 20px 20px 0;
  }
  .header-left-right {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .navber-heid {
    display: none;
  }
  .influencer-text {
    font-size: 4vw;
    padding: 0;
  }
  .mobile-shop {
    padding: 0px;
  }
  .mobile-shop i {
    font-size: 4vw;
  }
  /*-------------------
 end navber section 
--------------------- */
  .banner {
    height: 363px;
  }
  .start-section {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .camera-right-site {
    padding-right: 0px;
    margin-left: 0px;
  }
  .title-start {
    font-size: 5vw;
    padding: 20px 0;
  }
  .title-deatiels {
    font-size: 2.2vw;
    font-weight: 600;
    padding: 0 0 20px 0;
  }
  .start-left-site {
    padding: 0 70px;
  }

  /* end banner section  */
  /* start logo items  */
  .logo-items-img {
    flex-wrap: wrap;
    height: 150px;
    margin: 20px 40px;
  }
  .logo-img img {
    width: 100%;
    height: 100%;
  }
  /* end logo items  */
  /* start collection item  */
  .collections {
    margin-top: 10px;
  }
  .collections-items {
    grid-template-columns: repeat(1, 1fr);

    padding: 0 40px;
  }
  .collection-title {
    font-size: 4vw;
    font-weight: 600;
    padding: 20px 0;
  }
  .tilte,
  .price {
    font-size: 4vw;
    font-weight: 600;
  }
  .reating i,
  .four-nine {
    font-size: 2.5vw;
  }
  .cllection-deatils {
    font-size: 2vw;
  }
  .show {
    font-size: 3vw;
    padding: 15px 0;
  }
  /* end collection item  */
  /* start featre section  */
  .feature-img-text {
    flex-direction: column-reverse;
    text-align: center;
  }
  .featured-title {
    font-size: 5vw;
  }
  .featured-deatils {
    font-size: 2.5vw;
  }
  .featre-img {
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(47, 0, 255, 0.288);
  }

  .join-btn {
    margin: 20px 0;
  }

  /* end feature section  */
  /* start footer section  */
  .footer {
    height: 50vw;
    justify-content: center;
    align-content: center;
    margin-top: -60px;
    box-shadow: 0px 0px 30px rgb(37, 21, 68);
  }

  .influencer {
    font-size: 4vw;
  }
  .copyright {
    font-size: 2.5vw;
    font-weight: 300;
  }
  .influencer-footer-section i {
    font-size: 5vw;
  }
}

/* ----------------------------------------------
 Medium devices (tablets, less than 992px)
------------------------------------------------- */
@media screen and (min-width: 577px) and (max-width: 992px) {
  /* navber  */
  .influencer-text {
    font-size: 2.8vw;
  }
  .navber {
    padding: 36px 10px 0 0;
  }
  .navber ul li a {
    font-size: 1.8vw;
    font-weight: 500;
  }
  /* banner section  */
  .start-left-site {
    padding: 0 30px;
  }
  .title-deatiels {
    font-size: 1.8vw;
    padding: 10px 5px 15px 0;
  }
  .banner {
    height: 300px;
    padding: 0 30px;
  }
.camera-right-site{
  padding: 0 20px;
}
  /* end banner section  */
  .collections-items {
    grid-template-columns: repeat(2, 1fr);

    padding: 0 60px;
  }

  .show {
    font-size: 2vw;
  }
  .featured-products {
    padding: 0 20px;
  }

  /* footer section  */
  .footer {
    box-shadow: 0px 0px 30px rgb(37, 21, 68);
  }
  .featred-text {
    padding: 0 30px;
  }
  .featured-title {
    font-size: 3vw;
  }
  .featured-deatils {
    font-size: 1.5vw;
  }
}
